.board {
  margin: 0 auto;
  width: 320px;
}

.board .row {
  height: 35px;
  display: flex;
  flex-flow: row wrap;
}

.board .cell {
	max-width: 35px;
  height: 35px;
  border: 1px solid #000;
  flex: 1;
  line-height: 35px;
}
